beautifulsoup4==4.11.1
google==3.0.0
googlesearch_python==1.2.3
langchain==0.2.15
langchain_community==0.2.14
nltk==3.8.1
pdfplumber==0.7.1
PyAudio==0.2.13
PyAutoGUI
PyGetWindow==0.0.9
pyttsx3==2.90
pywhatkit==5.3
pywin32
Requests==2.32.3
selenium==4.24.0
SpeechRecognition==3.8.1
torch==2.2.2
transformers==4.35.2
wikipedia==1.4.0
winshell==0.6
